#URL for PostgresSQL database connection
DATABASE_HOST=

#URL for RabbitMQ messaging connection
RABBITMQ_URL=

#URL for Redis cache connection
REDIS_URL=

#Auth Service variables for auth-client service
AUTH_SERVICE_URL=
AUTH_SERVICE_API_KEY=

#Port the app will run on, if not specified will default to 3000
PORT=

#Metrics (true/false)
METRICS_ENABLED=